<!DOCTYPE html>
<html>
  <head>
    <title>Jessica Oakes | Full Stack Web Developer</title>
    <meta charset="utf-8">
    <meta name="description" content="Jessica Oakes Full Stack Portfolio">
    <meta name="author" content="Jessica Oakes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/css/style.min.css">
    <base href="/">
  </head>
  <body>
    <section class="experience"><i class="fa fa-server"></i><span>EXPERIENCE</span>
      <ul class="unstyled-list">
        <li>
          <p>Prime Digital Academy</p>
          <p>Full Stack Software Development Student</p>
          <section class="content">
            <p>Book Tracker App</p>
            <ul>
              <li>Created a single-page web application that allows the user to search for books and add them to their library. They can keep track of books they own, lent to other people and borrowed from. Users can also categorize books into shelves, locations, and mark a book as favorite or put it on their wish list.</li>
              <li>Technology Used: PostgreSQL, Express, AngularJS, Node.js, Passport, Bootstrap, HTML5, Angular Smart-Tables, Angular Routes, Grunt, Git, GoogleBooks API</li>
            </ul>
            <p>Tryout Management App <span>(SportsEngine)</span>
              <ul>
                <li>Collaborated with a group of four other classmates to build a mobile-responsive application for SportsEngine, to allow their clients to create custom tryout forms and score players based on the categories they created. These scores would then be submitted to the player’s profile in the SportsEngine API. This application also allows multiple guest users to login at one time and score players during a tryout.</li>
                <li>Technology Used: SportsEngine OAuth, MEAN Stack (MongoDB, Express, AngularJS, Node.js), Angular Route, Bootstrap, Sass, Font-Awesome, Jade, Angular Mobile UI, Passport, Passport OAuth2, Request, Grunt, Git</li>
              </ul>
            </p>
          </section>
        </li>
        <li>
          <p>Guthrie Theater</p>
        </li>
      </ul>
    </section>
    <section class="education"><i class="fa fa-graduation-cap"></i><span>EDUCATION</span>
      <ul>
        <li>
          <h4>Prime Digital Academy, June 2016</h4>
          <h5>Full Stack Software Engineering Certificate</h5>
        </li>
        <li>
          <h4>University of Minnesota</h4>
          <h5>Generals - Math/Computer Science, 2015</h5>
        </li>
        <li>
          <h4>University of Minnesota</h4>
          <h5>Bachelor of Arts, Linguistics (summa cum laude), Asian Languages & Literature (Honors), 2016</h5>
          <ul>
            <li>Study Abroad: Yonsei University, Seoul, South Korea (June 2010 – June 2011)</li>
          </ul>
        </li>
      </ul>
    </section>
  </body>
</html>