// FONTS
$font-stack: 'Helvetica';

// COLORS
$black: #000000;
$blanched-almond: #FFEBCD;
$ba-dark-purple: #6D3880;
$white: #FFFFFF;

// MOBILE DIMENSIONS
$phone-min: 320px;
$phone-max: 480px;
$tablet-min: 768px;
$tablet-max: 979px;
$desktop-min: 980px;

/************************** GENERAL RULES **************************/
.text-uppercase {
  text-transform: uppercase;
}

.small-caps {
  font-variant: small-caps;
}

.text-icon {
  padding: 0px 3px;
}

/************************** GENERAL **************************/
html, body {
  height: 100%;
  width: 100vw;
  font-size: inherit;
  font-family: $font-stack;
  background: $blanched-almond;
}

header, footer, body, p, h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

//  TESTING
header, body {
  border: 1px solid black;
}

footer {
  border: 1px solid purple;
}

/************************** SOCIAL LINKS **************************/

.logo {
  text-decoration: none;
  color: $black;
}

.logo:hover {
  text-decoration: none;
}

.nav-ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-block;
}

.nav-li {
  display: inline-block;
  margin: 0px 10px;
}

.social-icon {
  color: $ba-dark-purple;
  display: inline-block;
  padding: 8px;
  border: 2px solid #a8a8a8;
  border-radius: 50%;
}

/************************** FOOTER **************************/
footer {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  width: 100vw;
  bottom: 0;
}

.footer-mobile {
  display: none;
}

@media screen and (max-width: $phone-max) {
  .footer-mobile {
    display: inline;
  };
  .footer-desktop {
    display: none;
  }
}
